<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcdT1cEO2l9TlMhRxcVdtRGR-izYf6w_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>676375970629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sportblitz.news.sportblitzNews</string>
	<key>PROJECT_ID</key>
	<string>sportblitzapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sportblitzapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676375970629:ios:1c8762a465e7b4265a742c</string>
</dict>
</plist>